footer{
	padding-top: 60px;
    padding-bottom: 60px;
    background-color: #242a2c;
    color: #66777c;

    h2{
    	text-transform: uppercase;
    }

    ul{
    	list-style-type: none;
    }
    a{
    	color: #777;
    text-decoration: none;
    }
}