#sectionsixth{
	background-color: #63C6AE;
	padding-top: 100px;
	padding-bottom: 100px;

	h4{
		font-size: 20px;
    text-align: center;
    color: #FFF;
	}
	h2{
		text-align: center;
    font-weight: bold;
	}

	a{
		width: 0%;
	}

	.carousel-indicators{
		bottom: -60px;
	}
}