#sectionFirst{
	padding-top: 70px;
	padding-bottom: 70px;
	.border1{
		padding: 7px;
    border: 2px solid gray;

    
	}
	.border1{
		&:hover{
			transition:all ease 0.6s;
	    	background-color: #63C6AE;
	    	.caption{
	    		color: #FFFFFF !important;
	    	}
		}

    }

    .img2{
    	margin: 0 auto;
    }
    .headding1{
    	text-align: center;
    }
}