header{
	
	.navbar-fixed-top .navbar-brand {
    background-color: #63C6AE;
	    color: #FFF;
	    font-weight: bold;
	}
	.navbar-fixed-top{
		background-color: #FFFFFF;
	}
	.navbar-nav{
		font-size: 16px;
    font-weight: bold;
	}
	.navbar-toggle .icon-bar {
    	background-color: black;
	}
	.navbar2{
		background-color: #63C6AE;
	}
}